.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Tulpen One', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3rem;
}

h3 {
  padding: 1.5rem;
}
